@import "../../styles/settings.scss";

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.star_button {
  color: $color-dark;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.remove_button {
  color: $color-dark;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.active {
  color: $color-warning;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
